@media (max-width: 640px) {
  html {
    font-size: 12px;
  }

  body {
    font-size: 12px;
  }

  .text-lg-right {
  text-align: left;
}

  /* Testemonials */

#inov-team .title {
  background-size: 60%;
}

 #inov-testemonials .title {
  background-size: 100%;
}

  
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

/* Header */

#inov-header {
  height: 80vh;
  width: 100%;
}

/* Banner */
#inov-banner {
  background-image: url('/img/banner-desktop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}



#inov-banner .post-it {
  height: 150px;
}

/* Info */
#inov-info {
  margin: 60px  auto;
}

.text-lg-right {
  text-align: right;
}

/* CTA */

#inov-cta {
  background-image: url('/img/cta-background.png');
  background-repeat: no-repeat; 
  background-size: cover;
  color: #ffffff;
  margin-top: 60px;
  margin-bottom: 60px;
  height: 300px;
  
}

#inov-cta .d-flex {  
  height: 60%;
}

#inov-cta h3 {
  line-height: 2.5rem;
  letter-spacing: 0.3rem;
}

#inov-cta .btn-light {
  background-color: rgb(255, 255, 255) !important;
  border-color: rgb(255, 255, 255) !important;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.btn {
  border-radius: 1rem;
}

/* Program */

#inov-program {
  background-image: url('/img/frame-program.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 750px 520px;
  height: 700px;
  margin: 60px auto;
}

#inov-program .program-list {
  width: 65%;
}

#inov-program .program-title {
  position: relative;
  right: 125px;
  
}


.program-list ul li {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 200px;
  font-size: 1.2rem;
}

/* Team */

#inov-team {
  margin: 60px auto;
}

#inov-team .title {
  background-image: url('/img/inov-team.png');
  background-repeat: no-repeat;

}

#inov-team .team-member {
  height: 100%;
}

/* Testemonials */

#inov-testemonials {
  margin: 60px auto;
}

#inov-testemonials .title {
  background-image: url('/img/testemonials.png');
  background-repeat: no-repeat;

}

.testemonial-text {
  font-style: italic;
}


/* Pricing */

#inov-pricing {
  margin: 60px auto;
}

.pricing {
  line-height: 2em;
}

.city {
  font-size: 1.3em;
}

.city h3 {
  font-size: 1.5em;
}

.pricing-date {
  font-size: 4em;
  font-weight: bold; 
  margin-bottom: 0;
}

.pricing-month {
  font-size: 2.6em;
  font-weight: bold;
}

.price-big {
  font-weight: 600;
  font-size: 4em;
  line-height: 1em;


}

.price {
  height: 80px;
}

.price-disable { 
  height: 95px;
  opacity: 0.6;
}

.price-disable .price-big {
  font-size: 2.5em;
}

.border-pricing {
  border-width: 2px !important;
  border-color: rgba(0, 0, 0, 0.603) !important;

}

.price-shadow {
  box-shadow: 1px 5px 20px #0000003a;
}



/* Utilities */
.bg-yellow {
  background-color: #FBB51E;
}

.h-full {
  height: 100%;
}

.w-20 {
  width: 80px;
  margin-top: 10px;  
}

.w-65 {
  width: 50%;
  margin: auto;
}

.w-full {
  width: 100%;
}

.bold {
  font-weight: 800;
} 

.border-thick {
  border-width: 2px !important;
  border-color: #000000 !important;
}